<!DOCTYPE html>
<html>


  <head>
    <title>JoiaDaEuropa</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- NAVBAR
================================================== -->
  <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="">

          <div class="navbar navbar-inverse custom">
              <div class="navbar-inner container">
                <div class="col-md-3">
                  <%= link_to 'PT', '?lang=pt' %>
                  <span>|</span>
                  <%= link_to 'EN', '?lang=en' %>
                </div>
                  <a class="brand" href="/"><img src="<%= asset_path 'logo.png' %>"></a>
                  <a href="/home/aboutus" class="btn"><%=t('aboutus_title')%></a>
                  <a href="/home/mission" class="btn"><%=t('mission_title')%></a>
                  <a href="/home/contacts" class="btn"><%=t('contacts_title')%></a>
                  <a href="/home/news" class="btn btn"><%=t('news_title')%></a>
                  <a href="/home/partnerships" class="btn"><%=t('partnerships_title')%></a>
                  <form class="navbar-form navbar-right" role="search">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Procurar">
                      </div>
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  </form>
                <div class="pull-right">
                  <% if current_user %>

                      <% @users = User.where(id: current_user.id) %>

                      <% if @users.find_by(is_client: '1') %>
                        <a class="btn"><%= link_to t('client_area'), client_area_index_path %></a>
                        <a class="btn"><%= link_to t('profile'), profile_index_path %></a>
                        <a class="btn"><%= link_to t('exit'), destroy_user_session_path, {method: 'delete'} %></a>
                      <% else %>
                        <a class="btn"><%= link_to t('backoffice'), backoffice_index_path %></a>
                        <a class="btn"><%= link_to t("exit"), destroy_user_session_path, {method: 'delete'} %></a>
                      <% end %>
                  <% else %>
                      <%= link_to 'Login', new_user_session_path %>
                  <% end %>
                </div>
              </div><!-- /.navbar-inner -->
          </div><!-- /.navbar -->
      </div> <!-- /.container -->
  </div><!-- /.navbar-wrapper -->

    <%= yield %>



    <% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>



    <!-- FOOTER -->
    <footer class="footer navbar-fixed-bottom">

        <p class="pull-right"><a href="http://www.facebook.com/pages/Joia-Da-Europa/259949700834272"><img src="<%= asset_path 'facebook.png' %>"></a>
          <a href="https://pt.linkedin.com/in/joia-europa-61a96ab7"><img src="<%= asset_path 'linkedin.png' %>"></a></p>

        <li style="text-align: center">
          <p>&copy; Jóia da Europa Unipessoal, Lda.</p>
        </li>

    </footer>
  </body>
  <style>
    footer {
      padding: 0,5px;
      background-color: whitesmoke;
    }

  </style>
</html>
