<%= f.fields_for :user_profiles do |contact|%>

    <% if !@contactInfo["avatar"].blank? %>
        <%= image_tag @contactInfo.avatar_url(:medium).to_s, :class=>"profilePhoto" %>
    <% end %>
    <div class="photoPreview">
      <i class="fa fa-upload photoUpload"></i>
      <p id="uploadClick">Click to Upload</p>
    </div>

    <%= contact.file_field :avatar, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadAvatar' %>
    <p class="deletePhoto">Delete</p>

    <%= contact.text_field :name, placeholder: "Nome", :class => "form-control" %>
    <%= contact.text_field :gender, placeholder: "Género", :class => "form-control" %>
    <%= contact.text_field :age, placeholder: "Idade", :class => "form-control" %>
    <%= contact.text_field :address, placeholder: "Address", :class => "form-control" %>
    <%= contact.text_field :vat, placeholder: "VAT", :class => "form-control" %>
    <%= contact.text_field :tel_number, placeholder: "Telemóvel", :class => "form-control" %>
    <%= contact.hidden_field :user_profiles_id, value: current_user_profiles.id %>
<% end %>

