<%= form_for @user_profile, :url => url_for(:controller => 'profile', :action => 'save_user_profile'), :method => 'post', html: {class: 'container'} do |f| %>
    <%= f.hidden_field :id %>

    <div class="form-group">
      <label for="name"><%= 'Nome' %></label>
      <%= f.text_field :name %>

      <% if flash[:error] && flash[:error]['Nome'] %>
          <div class="alert danger"><%= flash[:error]['Nome'].join('<br/>') %></div>
      <% end %>
    </div>

    <div class="form-group">
      <label for="gender"><%= 'Género' %></label>
      <%= f.text_field :gender %>

      <% if flash[:error] && flash[:error]['Género'] %>
          <div class="alert danger"><%= flash[:error]['Género'].join('<br/>') %></div>
      <% end %>
    </div>

    <div class="form-group">
      <label for="age"><%= 'Idade' %></label>
      <%= f.text_field :age %>

      <% if flash[:error] && flash[:error]['Idade'] %>
          <div class="alert danger"><%= flash[:error]['Idade'].join('<br/>') %></div>
      <% end %>
    </div>

    <div class="form-group">
      <label for="address"><%= 'Morada' %></label>
      <%= f.text_field :address %>

      <% if flash[:error] && flash[:error]['Morada'] %>
          <div class="alert danger"><%= flash[:error]['Morada'].join('<br/>') %></div>
      <% end %>
    </div>

    <div class="form-group">
      <label for="vat"><%= 'Vat' %></label>
      <%= f.text_field :vat %>

      <% if flash[:error] && flash[:error]['Vat'] %>
          <div class="alert danger"><%= flash[:error]['Vat'].join('<br/>') %></div>
      <% end %>
    </div>

    <div class="form-group">
      <label for="tel number"><%= 'Contacto' %></label>
      <%= f.text_field :tel_number                                                                                                           %>

      <% if flash[:error] && flash[:error]['Contacto'] %>
          <div class="alert danger"><%= flash[:error]['Contacto'].join('<br/>') %></div>
      <% end %>
    </div>
    
    <%= f.submit "Gravar", class: "btn btn-large btn-primary" %>

<% end%>

