<div class="container">
  <div class="text-center">
    <p class="my-title-h1 text-black"><%=t('Profile_tittle')%></p>
  </div>
</div>

<div class=" col-md-9 col-lg-9 ">
  <table class="table table-user-information">
    <tbody>
    <tr>
      <td><p class="my-title-h2 text-black"><%=t('name_tittle')%></p></td>
      <td><%= @user.user_profile.name %></td>
    </tr>
    <tr>
      <td><p class="my-title-h2 text-black"><%=t('Address_tittle')%></p></td>
      <td><%= @user.user_profile.address %></td>
    </tr>
    <tr>
      <td><p class="my-title-h2 text-black"><%=t('vat_tittle')%></p></td>
      <td><%= @user.user_profile.vat %></td>
    </tr>
    <tr>
      <td><p class="my-title-h2 text-black"><%=t('number_tittle')%></p></td>
      <td><%= @user.user_profile.tel_number %></td>
    </tr>
    <tr>
      <td><p class="my-title-h2 text-black"><%=t('email_tittle')%></p></td>
      <td><%= @user.email %></td>
    </tr>
    </tbody>
  </table>

    <%= link_to t('edit_profile_tittle'), profile_edit_path(@user.id), html: {class: 'btn btn-primary'} %>
</div>
