<div class="container">

  <h1>YOUR PROFILE IS HERE!</h1>

  <div>

    <p><%= t('email')%></p>
    <p><%= @user.email %></p>
    <p><%= t('gender')%></p>
    <p><%= @user.gender %></p>
    <p><%= t('age')%></p>
    <p><%= @user.age %></p>
    <p><%= t('address')%></p>
    <p><%= @user.address %></p>
    <p><%= t('vat')%></p>
    <p><%= @user.vat %></p>
    <p><%= t('tel_number')%></p>
    <p><%= @user.tel_number %></p>
  </div>

</div>