<div class="container">

    <h1>Área do Cliente</h1>

    <div class="col-sm-3 col-sm-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="sidebar_new_order active" ><%= link_to "Colocar Nova Encomenda", order_new_path %></li>
        </ul>
    </div>

    <div style="text-align: right">
        <%= form_for @order, :url => url_for(:controller => 'order', :action => 'save'), html: {class: 'container'} do |f| %>
            <%= f.hidden_field :id %>

            <div class="form-group">
                <label for="obs"><%= 'Observações' %></label>
                <%= f.text_field :obs %>

                <% if flash[:error] && flash[:error]['Observações'] %>
                    <div class="alert danger"><%= flash[:error]['Observações'].join('<br/>') %></div>
                <% end %>
            </div>

            <div class="form-group">
                <label for="delivery_date"><%= 'Data de entrega' %></label>
                <%= f.text_field :delivery_date %>

                <% if flash[:error] && flash[:error]['Data de Entrega'] %>
                    <div class="alert danger"><%= flash[:error]['Data de entrega'].join('<br/>') %></div>
                <% end %>
            </div>

            <div class="form-group">
                <label for="price"><%= 'Preço' %></label>
                <%= f.text_field :price %>

                <% if flash[:error] && flash[:error]['Preço'] %>
                    <div class="alert danger"><%= flash[:error]['Preço'].join('<br/>') %></div>
                <% end %>
            </div>

            <div class="form-group">
                <label for="attachment_path"><%= 'Anexo' %></label>
                <%= f.text_field :attachment_path %>

                <% if flash[:error] && flash[:error]['Anexo'] %>
                    <div class="alert danger"><%= flash[:error]['Anexo'].join('<br/>') %></div>
                <% end %>
            </div>

            <%= f.submit "Gravar", class: "btn btn-large btn-primary" %>

        <% end%>

    </div>



</div>


