<div class="container text-center">
  <p class="my-title-h1 text-black"><%=t('order_tittle')%> #<%= @order.id%></p>
</div>

<ul class="nav nav-pills">
  <li role="presentation"><a href="<%= order_index_path %>"><%= t('view_orders_tittle') %></a></li>
</ul>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th><%= t('delivery_date_tittle') %></th>
      <th><%= t('price_tittle') %></th>
      <th><%= t('obs_tittle') %></th>
      <th><%= t('state_tittle') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= h @order.delivery_date.strftime('%d-%m-%Y') rescue nil %></td>
      <td><%= h number_to_currency(@order.price, unit: '€', separator: ',', delimiter: '.') %></td>
      <td><%= h @order.obs %></td>
      <td><%= h @order.order_state.state %></td>
    </tr>
    </tbody>
  </table>
</div>