<div class="container">

<h1>Área do Cliente</h1>

<div class="col-sm-3 col-sm-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="sidebar_new_order"><%= link_to "Colocar Nova Encomenda", client_area_new_order_path %></li>

    <li class="sidebar_order_review"><%= link_to "Encomendas que necessitam revisão", client_area_order_review_path %></li>

    <li class="sidebar_pending_orders"><%= link_to "Encomendas Pendentes", client_area_pending_orders_path %></li>

    <li class="sidebar_completed_orders"><%= link_to "Encomendas Concluídas", client_area_completed_orders_path %></li>

    <li class="sidebar_canceled_orders"><%= link_to "Encomendas Canceladas", client_area_canceled_orders_path %></li>
  </ul>
</div>

</div>




