<div class="container">
  <h1>Home TESTE edu</h1>

  <h2>pagina de teste</h2>

  <%= link_to t('my_account'), profile_index_path %>
  <%= link_to t('about'), home_about_path %>
  <%= link_to t('mission'), home_mission_path %>
  <%= link_to t('contacts'), home_contacts_path %>
  <%= link_to t('news'), home_news_path %>
  <%= link_to t('external_links'), home_external_links_path %>

</div>
