<div class="container">
  <div class="text-center">
    <p class="my-title-h1 text-black"><%=t('news_title')%></p>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news1_tittle')%></p>
          <p class="lead"><%=t('news1_text')%></p>
          <a href="https://www.apiccaps.pt/news/?id=2382&t=Footwear-cluster-is-worth-2500-million-euros" class="btn btn-primary"><%=t('read')%></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news2_tittle')%></p>
          <p class="lead"><%=t('news2_text')%></p>
          <a href="https://www.noticiasaominuto.com/economia/791955/exportacoes-de-calcado-crescem-8-9-e-somam-535-milhoes-ate-marco" class="btn btn-primary"><%=t('read')%></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news3_tittle')%></p>
          <p class="lead"><%=t('news3_text')%></p>
          <a href="https://www.noticiasaominuto.com/economia/788507/para-o-ministro-da-economia-a-industria-do-calcado-e-a-mais-sexy" class="btn btn-primary"><%=t('read')%></a>
        </div>
      </div>
    </div>
  </div>
</div>