<div class="container">
  <div class="text-center">
    <p class="my-title-h1 text-black"><%=t('news_title')%></p>
  </div>
</div>

<div class="container marketing">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news1_tittle')%></p>
          <p class="lead"><%=t('news1_text')%></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news2_tittle')%></p>
          <p class="lead"><%=t('news2_text')%></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-block text-justify">
          <p class="my-title-h2 text-black"><%=t('news3_tittle')%></p>
          <p class="lead"><%=t('news3_text')%></p>
        </div>
      </div>
    </div>
  </div>
</div>