<div class="container text-center">
  <p class="my-title-h1 text-black"><%=t('order_tittle')%> #<%= @order.id%></p>
</div>

<ul class="nav nav-pills">
  <li role="presentation"><a href="<%= backoffice_index_path %>"><%= t('view_orders_tittle') %></a></li>
</ul>

<div class="actions" align="center">
  <% @orders = Order.where(id: @order.id) %>
  <% if @orders.find_by(order_state_id: '1') %>
      <!-- Accept button -->
      <%= link_to t('approve_order'), backoffice_approve_order_path(order_id: @order.id), method: :post, data: {confirm: t('accept')}, class: 'btn btn-primary' %>
      <!-- Cancel button -->
      <%= link_to t('cancel_order'), backoffice_cancel_order_path(order_id: @order.id), method: :post, data: {confirm: t('cancel')}, class: 'btn btn-danger' %>
  <%end %>
  <% if @orders.find_by(order_state_id: '4') %>
      <!-- Conclude button -->
      <%= link_to t('complete_order'), backoffice_complete_order_path(order_id: @order.id), method: :post, data: {confirm: t('complete')}, class: 'btn btn-primary' %>
  <%end %>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th><%= t('delivery_date_tittle') %></th>
      <th><%= t('price_tittle') %></th>
      <th><%= t('obs_tittle') %></th>
      <th><%= t('state_tittle') %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= h @order.delivery_date.strftime('%d-%m-%Y') rescue nil %></td>
      <td><%= h number_to_currency(@order.price, unit: '€', separator: ',', delimiter: '.') %></td>
      <td><%= h @order.obs %></td>
      <td><%= h @order.order_state.state %></td>
    </tr>
    </tbody>
  </table>
</div>